@import "~scss/variables";

$subheader-height: 48px;

.Container {
  @extend %container;
}

.SubHeader {
  height: $subheader-height;
  border-bottom: 1px solid $color-light;
  position: relative;
  z-index: $z-index-header + 1;
  display: flex;

  @include landscape {
    display: none;
  }

  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Contacts {
    justify-content: flex-start;
  }
}

.Header {
  position: sticky;
  top: 0;
  left: 0;
  background: $color-white;
  z-index: $z-index-header;
  height: 120px;
  display: flex;
  align-items: center;

  @include ipad {
    height: 80px;
  }

  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.Logo {
  img {
    height: 60px;
    width: auto;

    @include ipad {
      height: 48px;
    }
  }
}

.Main {
  display: flex;
  align-items: center;
}

.Nav {
  display: flex;
  align-items: center;
  margin-right: 16px;

  & > * {
    padding: 48px 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.NavLink {
  &.activeLink {
    svg {
      @include iconColor($color-green);
    }

    span > span {
      position: relative;
      color: $color-green;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-green;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.NavLinkDropdown {
  &Control {
    &.active .IconArrow {
      transform: rotate(180deg);
    }
  }

  &Content {
    @include dropdownContent;
    top: calc(100% - 4px);
  }
}

.BtnDonate {
  @include landscape {
    display: none;
  }
}

.BtnSidebar {
  @include size(24px);
  margin-left: 40px;
  display: flex;

  svg {
    @include size(100%);
    @include iconColor($color-text);
  }
}
