@import "~scss/variables";

.Component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  grid-area: contact;

  @include laptop {
    justify-content: flex-end;
  }

  @include tablet {
    justify-content: flex-start;
  }

  @include phone {
    flex-direction: column;
    align-items: flex-start;
  }

  & > * {
    margin-right: 40px;

    @include phone {
      margin-right: 0;
      margin-bottom: 8px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .Address {
    display: block;
    font-style: normal;
    white-space: pre-wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: $color-text;

    svg {
      display: inline-block;
      @include size(16px);
      margin-right: 8px;
      @include iconColor($color-text);
    }
  }
}
