@import "scss/variables";

.Component {
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 100px;

  @include ipad {
    padding-bottom: 60px;
  }

  @include landscape {
    padding-bottom: 0;
  }

  .IntroContainer {
    margin-bottom: 60px;

    @include tablet {
      padding: 0;
    }

    @include landscape {
      margin-bottom: 20px;
    }
  }
}

.Section {
  margin-bottom: 100px;

  @include ipad {
    margin-bottom: 72px;
  }

  @include tablet {
    margin-bottom: 60px;
  }

  @include landscape {
    margin-bottom: 40px;
  }
}

.Intro {
  padding: 74px 80px;
  border-radius: 24px;
  background: url("/images/home_intro@2x.png") top right no-repeat,
    linear-gradient(91.12deg, #fbfbfb 2.92%, #f1f6fa 24.33%);
  background-size: contain, 100% 100%;

  @include ipad {
    padding: 60px;
    background-size: 100%;
    background-position: center right -150px;
  }

  @include tablet {
    border-radius: 0;
    padding: 24px 20px;
    background-size: cover;
  }

  @include landscape {
    background: url("/images/home_intro-phone@2x.png") top right
        no-repeat,
      linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
    background-size: 340px auto, cover;
    position: relative;

    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(242, 242, 242, 0) 0%,
        #f2f2f2 100%
      );
      position: absolute;
      top: 260px;
      left: 0;
      width: 100%;
      height: 95px;
    }
  }

  &BtnGroup {
    display: flex;
    align-items: flex-start;

    @include landscape {
      flex-direction: column;
      align-items: stretch;
    }

    & > * {
      margin-right: 8px;

      @include landscape {
        margin-right: 0;
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 110.9%;
    letter-spacing: -0.04em;
    color: $color-black;
    margin: 0 0 24px;

    @include tablet {
      font-size: 40px;
    }

    @include landscape {
      margin-bottom: 260px;
    }

    b {
      display: block;
      font-weight: 800;
    }
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin: 0 0 24px;
    max-width: 460px;
  }
}

.Activity {
  h2 {
    text-align: center;
  }

  &Items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include landscape {
      grid-template-columns: 1fr;
    }

    & > li {
      flex-grow: 1;
      background: $color-light;
      border-radius: 24px;
      padding: 32px;

      @include tablet {
        &:nth-child(3) {
          grid-column: 1 / 3;
        }
      }

      @include landscape {
        &:nth-child(3) {
          grid-column: unset;
        }
      }

      i {
        @include flex-center;
        @include size(64px);
        border-radius: 50%;
        background: $color-green;
        margin-bottom: 24px;

        svg {
          @include iconColor($color-white);
        }
      }

      h3 {
        font-weight: 800;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: $color-black;
        margin: 0 0 8px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        margin: 0;
        letter-spacing: -0.02em;
      }
    }
  }
}

.Resources {
  display: flex;

  @include tablet {
    flex-direction: column-reverse;
  }

  &Main {
    margin-right: 70px;

    @include ipad {
      margin-right: 20px;
    }
  }

  &Image {
    flex-basis: 50%;
    margin-left: 12px;
    margin-top: 12px;
    position: relative;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;

    @include tablet {
      margin-bottom: 16px;
      margin-left: 0;
      margin-top: 0;
    }


    img {
      @include absolute;
      object-fit: cover;

      @include tablet {
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }

  .Title {
    @include tablet {
      white-space: unset;
    }
  }

  &Items {
    li {
      margin-bottom: 28px;
      display: flex;
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        @include flex-center;
        margin-right: 16px;

        svg {
          @include size(32px);
          @include iconColor($color-green);
        }
      }

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        white-space: pre-wrap;
        color: $color-black;
        margin: 4px 0 0;

        @include tablet {
          white-space: unset;
        }
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        margin: 8px 0 0;
        max-width: 60%;

        @include tablet {
          max-width: 100%;
        }
      }
    }
  }
}

.Donate {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  .Title {
    @include tablet {
      white-space: unset;
    }
  }

  &Image {
    flex-basis: 50%;
    margin-right: 50px;
    flex-shrink: 0;
    margin-top: 12px;
    position: relative;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;

    @include ipad {
      margin-right: 20px;
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: 12px;
      margin-top: 0;
    }

    img {
      @include absolute;
      object-fit: cover;

      @include tablet {
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }

  &Items {
    &Icon {
      transform: rotate(-90deg);
    }

    li {
      margin-bottom: 24px;
      display: flex;
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        @include flex-center;
        margin-right: 16px;

        svg {
          @include size(32px);
          @include iconColor($color-green);
        }
      }

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: $color-black;
        margin: 4px 0 0;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        margin: 8px 0;
      }
    }
  }
}

.News {
  & &Container {
    display: flex;
    flex-direction: row-reverse;

    @include ipad {
      display: block;
    }

    @include landscape {
      padding: 0;
    }
  }

  &Main {
    padding: 70px;

    @include ipad {
      padding: 0;
    }

    @include landscape {
      padding: 0 16px;
    }
  }

  .Title {
    @include ipad {
      text-align: center;
    }
  }

  &BtnMoreMobile {
    display: none;

    @include ipad {
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }
  }

  &BtnMoreDesktop {
    @include ipad {
      display: none;
    }
  }

  &ItemList {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @include ipad {
      margin-bottom: 32px;
    }
  }

  &CardSlider {
    margin-bottom: 25px;
  }

  & &CardSlide {
    width: calc(100% - 48px);
  }
}
