@import "~scss/variables";

.Page {
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 54px;

  @include laptop {
    padding-bottom: 32px;
  }

  @include tablet {
    padding-bottom: 20px;
  }

  @include landscape { 
    padding: 40px 0;
    position: relative;
    height: calc(100vh - 80px); // header height
  }
}

.Container {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Details { 
  @include landscape { 
    flex-basis: 100%;
    padding: 24px;
    border-radius: 16px;
    background: $color-white;
    position: relative;
    z-index: 1;
  }
}

.Title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: $color-black;
  margin: 0 0 24px;
}

.Description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 0 0 24px;
  white-space: pre-wrap;
}

.Contacts {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  & > * {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Map {
  width: 800px;
  height: 400px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  @include laptop {
    width: 540px;
    height: 400px;
  }

  @include tablet { 
    width: 400px;
    height: 350px;
  }

  @include landscape {
    @include absolute;
    border-radius: 0;
  }

  img {
    @include absolute;
    object-fit: cover;
  }
}
